<script src="<%= static_path(@conn, "/js/elm.js") %>"></script>
<div id="package"></div>
<script>
 var node = document.querySelector("#package");
 Elm.Pages.PackageView.embed(node, {
   baseUrl: "<%= url(@conn) <> "/api" %>",
   packageName: "<%= @conn.params["package"] %>",
   packageVersion: "<%= @conn.params["version"] %>"
 });
</script>
