.file-content pre {
  padding: 0.5rem;
  margin-bottom: 0;

  .line {
    display: block;
    width: 100%;
    min-height: 1.5em;
    white-space: pre;
  }
}

.file-content .line-numbers {
  font-family: $font-family-monospace;
  font-size: 90%;
  text-align: right;
  float: left;
  background-color: $card-cap-bg;
  border-right: $card-border-width solid $card-border-color;

  padding: 0.5rem 0.5rem 0.5rem 1rem;

  a {
    display: block;
    min-height: 1.5em;
    color: $text-muted;
    // font-size: 12px !important;
    // line-height: 19px;
    white-space: nowrap;
  }
}

.file-data {
  font-size: 0.9em;
}
