<header>
  <h2><%= @package %> <small><%= @version %></small></h2>
</header>

<section>
  <div class="file-list treeview">
    <h3>Files</h3>
    <%= files_to_tree @conn, @files %>
  </div>
  <div class="file-content">
  </div>
</section>
